main {
  padding: var(--side-gap);
}

#cmd-input {
  margin-top: 3rem;
  width: 100%;
  border: none;
  outline: none;
  color: transparent;
  background-color: transparent;
  opacity: 0;
}

#cursor {
  margin-left: 1px;
  display: inline-block;
  /* text-shadow: 0px 0px 5px; */
  animation: cursor 1s infinite;
}

@keyframes cursor {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

.currentCmd {
  position: absolute;
  transform: translate(19px, -26.5px);
}
