a {
  color: rgb(5, 125, 200);
  text-decoration: underline;
}

#cli-container {
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-synthesis: none;
  font-size: 1.1rem;
  font-weight: 400;
  font-optical-sizing: auto;
  min-height: calc(100vh - 30px);
  padding: 15px;
  background-color: rgb(35, 35, 35);
  color: rgba(255, 255, 255, 0.85);
}

#cli {
  min-height: calc(100vh - 42px);
  padding: 5px;
  border: 1px solid rgb(230, 220, 130);
}

.command {
  --glow-color: rgb(10, 215, 145);
  font-weight: bolder;
  color: var(--glow-color);
  /* text-shadow: 0 0 1px var(--glow-color); */
}
