:root {
  font-family: "Fira Code", monospace;
  font-style: normal;
  font-synthesis: none;
  font-size: 1.1rem;
  font-weight: 400;
  font-optical-sizing: auto;

  /* background-color: rgb(35, 35, 35); */
  color: rgba(255, 255, 255, 0.85);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(5, 125, 200);
  text-decoration: underline;
}

body {
  margin: 15px;
  padding: 5px;
  min-height: 95vh;
  border: 1px solid rgb(230, 220, 130);
}

body::-webkit-scrollbar {
  display: none;
}

/* ---------- */

:root {
  --side-gap: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
}

.command {
  --glow-color: rgb(10, 215, 145);
  font-weight: bolder;
  color: var(--glow-color);
  /* text-shadow: 0 0 5px var(--glow-color); */
}
