header {
  padding: var(--side-gap);
  margin-bottom: 0.75rem;
}

h1,
h2,
h3,
h4 {
  /* text-shadow: 0px 0px 5px; */
  font-weight: inherit;
}

.description {
  margin-top: 5px;
  margin-bottom: 20px;
}

.helpMsg {
  margin-top: 5px;
  margin-bottom: 15px;
}
