@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eeeeee;
  --foreground: #171717;
  --hero: #983131;
  --primary: #752626;
  --secondary: #321010;
  --tertiary: #f04d4d;
  --quaternary: #c74040;
  --success: #035c16;
  --pending: #d19e01;
  --error: #b40012;
  --onhold: #a7a7a7;
  --warning: #ff8c00;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  background: var(--background);
}
@media (max-width: 480px) {
  .full-width {
    width: 100%;
  }
}

.card-shadow {
  box-shadow: 0px 2.5px 25px var(--primary);
}

.figma-gradient {
  background: radial-gradient(50% 50% at 50% 50%, #2a1a1a 0%, #1a0f0f 30%, #0f0808 70%, #0a0404 100%) !important;
  background-color: #0f0808 !important;
}
