.teamsNav {
  margin: 0;
}

.container {
  background: var(--bg);
  min-width: 100%;
  margin: 0;
  padding: rem(10px) calc(var(--mantine-spacing-lg) * 1) rem(100px)
    calc(var(--mantine-spacing-lg) * 1);
}

.heading {
  text-align: center;
  padding: var(--mantine-spacing-xl) 0;
}

.teamName {
  text-align: center;
}

.teamMembers {
  padding: var(--mantine-spacing-xl) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  background-color: rgba(190, 190, 190, 0.1);
}

.memberCard {
  height: rem(260px);
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  background-color: rgba(40, 40, 40, 0.5);
}

.memberLinks {
  margin-top: rem(25px);
}
