.homeNav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.comingSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: bold;
}
