.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background: linear-gradient(90deg, #272626 22%, #25424a 68%, #37616c 84%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
}

.appName {
  text-decoration: none;
  color: white;
}

.link {
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);

  @media (max-width: $mantine-breakpoint-sm) {
    color: black;
    height: rem(42px);
    width: 100%;
  }
  .change {
    background-color: white;
  }

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-4),
      var(--mantine-color-dark-3)
    );
    color: black;
  }
}

.draw {
  background: linear-gradient(90deg, #071726 22%, #0a3642 68%, #0b4752 84%);
}

.subLink {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
    color: black;
  }
}

.dropdownFooter {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-7)
  );
  margin: calc(var(--mantine-spacing-md) * -1);
  margin-top: var(--mantine-spacing-sm);
  padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: rem(1px) solid
    light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
