.header {
  height: rem(60px);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  border-bottom: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
  background: linear-gradient(90deg, #272626 22%, #25424a 68%, #37616c 84%);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
}

.appName {
  font-size: var(--mantine-font-size-xl);
  font-weight: 500;
  text-decoration: none;
  color: white;
}

.link {
  display: flex;
  align-items: center;
  font-size: var(--mantine-font-size-sm);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  text-decoration: none;
  font-weight: 500;
  height: 100%;
  color: white;

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(42px);
    border-radius: 0px;
    width: 100%;
  }

  .change {
    background-color: white;
  }

  @mixin hover {
    background-color: rgba(170, 170, 170, 0.2);
    border-radius: var(--mantine-radius-md);
  }
}

.cliButton {
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
  padding-left: var(--mantine-spacing-sm);
  padding-right: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  text-decoration: none;
  width: 100%;
  color: white;
  background-color: var(--mantine-color-indigo-6);

  @mixin hover {
    background-color: var(--mantine-color-indigo-7);
  }
}

.draw {
  background: linear-gradient(90deg, #071726 22%, #0a3642 68%, #0b4752 84%);
}
