@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading h2 {
  color: #000000;
  text-align: center;
}


.card-wrapperr{
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px ;
  overflow: hidden;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  display: block;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  background: #fff;
  border: 2px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .card-link:active{
  cursor: grabbing;
}


.card-list .card-item .card-link:hover{
  border-color: #000000;
}

.card-list .card-link .card-image{
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 10px;
}



.card-list .card-link .badge .one{
  color: #020202;
  padding: 8px 16px;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 16px 0 18px;
  background: #dde4ff;
  width: fit-content;
  border-radius: 50px;
}

.card-list .card-link .badge .two{
  color: #000000;
  background: #090909;
}

.card-list .card-link .badge .three{
  color: #000000;
  background: #d6f8d6;
}

.card-list .card-link .badge .four{
  color: #000000;
  background: #d6f8d6;
}

.card-list .card-link .badge .five{
  color: #000000;
  background: #d6f8d6;
}

.card-list .card-link .card-title{
  font-size: 1.19rem;
  color: #000; ;
  font-weight: 600;
}

.card-list .card-link .card-button{
  height: 35px;
  width: 35px;
  color: #000000;
  border-radius: 50%;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  transition: 0.4s ease;


}

.card-list .card-link:hover .card-button{
  color: #fff;
  background: #000000;

}

.card-wrapper .swiper-pagination-bullet{
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #000000;

}

.card-wrapper .swiper-pagination-bullet-active{
  opacity: 1;
}

.card-wrapper .swiper-slide-button{
  color: #000000;
  margin-top: -75px;
}

@media screen and (max-width: 550px){
  .card-wrapper{
    margin: 0 10px 25px;
  }
  .card-wrapper .swiper-slide-button{
    display: none;
  }
}

