.footer {
  /* border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5)); */
  background: linear-gradient(90deg, #272626 22%, #25424a 68%, #37616c 84%);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mantine-spacing-md) var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.image11 {
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50px;
}