:root {
  --side-gap: 0.5rem;
  --bg: linear-gradient(-90deg, #272626 22%, #25424a 68%, #37616c 84%);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*::-webkit-scrollbar {
  display: none;
}*/

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
