:root {
  --side-gap: 0.5rem;
  --bg: linear-gradient(
    -90deg,
    hsl(194, 33%, 21%) 22%,
    hsl(193, 33%, 26%) 68%,
    hsl(192, 33%, 31%) 84%
  );
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
::-webkit-scrollbar {
  display: none;
}
*/

* {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
